<form #data="ngForm" (ngSubmit) = "submit(data)">
    <div class="form-group">
        <input class="form-check-input" #rad="ngModel" type="radio" name="radSol" value="sol" ngModel required>
        <label for="sol" class="form-label">Sol</label>
        <input [disabled]="rad.value!=='sol'" #solinput="ngModel" type="number" name="sol" class="form-control" min="0" [max]='solVal' required ngModel>
        <div *ngIf='solinput.touched && solinput.invalid'>
            <p *ngIf="solinput.errors?.['max'] || solinput.errors?.['min']">Sol value out of range</p>
        </div>
    </div>
    <pre></pre>
    <div class="form-group">
        <input class="form-check-input" type="radio" name="radSol" value="earth" ngModel>
        <label for="eathdate" class="form-label">Earth Date </label>
        <input [disabled]="rad.value!=='earth'" type="date" name="earthdate" class="form-control" [min]='mindate' [max]='maxdate' required ngModel>
    </div>
    <pre></pre>
    <!-- <div class="form-group">
        <input #camCheck='ngModel' type="checkbox" name="checkCam" ngModel>
        <label for="camera">Camera</label>
        <select [disabled]='!camCheck.value' name="camera" required ngModel>

                <option *ngFor = 'let name of listName' [value] = 'name'>{{name}}</option>
        </select>
    </div> -->
    <button class="btn btn-secondary" type="submit" [disabled]='data.invalid'>Look Up</button>
</form>